*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: sans-serif;
    
}
    
 a {
    text-decoration: none !important;
    color: black;
}
a:link{
    color: #5f1782;
}
a:visited{
    color:#fff;
}
a:hover{
    color:#fff;
    font-size: large;
}
a:active{
    color:#fff;
}

/*Navbar*/

ul
{
    list-style: none;
}

#nav-path
{
    position: sticky;
    top:0;
    z-index:10;

}

.navbar
{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding:0 !important; 

}

.navbar-nav li
{
    padding:0 10px;
}

.navbar-nav li a
{
    color:#fff !important;
    font-weight: 600;
}

.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler
{
    outline: none !important;
}

/*Top*/

#banner
{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color:#fff;
    padding-top: 5%;

}

.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.bottom-img
{
    width: 100%;
}

.title::before
{
    content:'';
    background: #7b1798;
    height:5px;
    width: 200px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after
{
    content:'';
    background: #7b1798;
    height:10px;
    width: 50px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

/*Specialists*/

#specialists .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border:none;
    border-radius:20px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.specialist-img
{
    border-radius: 100%;
    border-style:none;
    /* border-color: #7b1798; */
    height:300px;
    width:300px;
}

/*Testimonials*/

.testimonials
{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials img
{
    height: 60px ;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

#testimonials .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border:none;
    border-radius:20px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.user-details
{
    display: inline-block;
    font-size: 12px;
}


.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  /* border-radius: 25px; */
}
.card{
  border-radius: 25px;
  background-color: #FFF;
  border-style: none;
  
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
  height:200px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
  
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* background-color: #7b1798;  */
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after
{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #7b1798;
  
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  background-image: linear-gradient(to right, #a517ba, #5f1782);
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}




.swiper-navBtn{
  
  transition: color 0.3s ease;
 
}

.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
 color:#a517ba;
}
.swiper-button-next{
  right: 0;
  
}
.swiper-button-prev{
  left: 0;
}


.swiper-pagination-bullet{
  background-color: #a517ba;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #a517ba;
}

/*Write a review*/
.rating {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  flex-direction: row-reverse;
}

.rating__star:hover,
.rating__star:hover ~ .rating__star {
  color: transparent;
}

/*
Make all previous stars selected when hover on a star
Note that we use \`flex-direction: row-reverse\` on the container
*/
.rating__star:hover:before,
.rating__star:hover ~ .rating__star:before {
  color: #eab308;
  content: '★';
  left: 0;
  position: absolute;
}

.rating__star {
  font-size: 2rem;

  /* Reset styles for button */
  background-color: transparent;
  border: transparent;
  margin: 0 2px;
  padding: 0;

  /* Used to position the hover state */
  position: relative;
}


.crequired label:after {
  color: #e32;
  content: ' *';
  display:inline;
}


/*Contact Us*/

#social-media
{
    background-color: #f8f9fa;
    padding: 50px 0px;

}

#social-media p
{
    font-size:36px ;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons img
{
    width: 60px;
    transition: .5s;
}

.social-icons a:hover img
{
    transform:translateY(-10px);
}

/*Footer*/

#footer
{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
}

.footer-img
{
    width: 100%;
}

.footer-box
{
    padding: 20px;
}

.footer-box img
{
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa
{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.footer-box .form-control
{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary
{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

hr
{
    background-color:#fff;
}

.copyright
{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}

/*Chatbot*/

#chatbot .btn-primary
{
    box-shadow: none;
    padding: 5px 3px;
    border:none;
    border-radius:20px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}


.cbot{
    
  overflow-y:scroll;
  overflow-anchor: none;
  max-height: 280px;
}

.cbot-box{
  min-height: 400px;
  color: #a517ba;
  background-color: #e32;
}


.cbot-res-send{
  position: absolute;
  bottom: 0;
  margin-top: 2px;
}




@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}



