<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cancer Code</title>
    
    <link rel="stylesheet" href="/static/style.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <section id="nav-path">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#top" style="color:#fff ; font-weight: bold; font-size: 30px;">Cancer Code</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item">
                <a class="nav-link"  href="#top">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#chatbot">Chat Bot</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#specialists">Specialists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#testimonials">Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contribute">Contribute</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#footer">Contact Us</a>
              </li>                         
            </ul>
        </div>
        </div>
      </nav>
    </section>
    <!--Banner Section-->
    <section id="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            
            <p class="promo-title">Cancer Solutions.</p>
             <p> We are here to help you with your queries at Cancer Code. <br> All you have to do is just ask! </p>
          </div>
          <div>
          <img src="/static/images/Home Page.jpg" width="450" height="400" padding-bottom="50px" class="img-fluid" >
          </div>
        </div>
      </div>
      <img src="/static/Images/wave1.png" class="bottom-img">
    </section>
<!-- About Us section -->

    <section id="about us">
      <div class="container text-center">
        <h1 class="title" style="padding: 5%">ABOUT US</h1>
        <div class="row text center">
          <div class="col-md-6">
            <img src="/static/Images/4210236.jpg" height="450" width="400" class="about-us-img">      
          </div>
          <div class="col-md-6" style="padding-top:6%">
          <p >Cancer is one of the leading causes of death worldwide. It develops into a life-threatening situation mainly due to insufficient knowledge and negligence among people. 
            Also, consultations for minor health concerns can be avoided, allowing doctors to spend more time with patients who need their attention the most. </p> 
            <p>We at Cancer Code are working towards the elimination of this issue by providing services like a chatbot that can answer all your queries and information about specialists of a particular field. We also have tie ups with hospitals and clinics where, with the patients' consent, we share their concerns and queries which will not only be beneficial for the hospitals but also in the field of research and development </p>
        </div>
      </div>
      </div>
    </section>
    <!-- ChatBot -->
    
    <section id="chatbot">

        <div class="container">
          <h1 class="title text-center" style="padding-top: 10%">CHATBOT</h1>
          <br>
          <div class="col-md-6 offset-md-3">
          <div class="signup-form">
            <form action="" class="mt-5 border p-4 bg-light shadow">
            <div class="row">
              <div class="col">
                <p id="response"></p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-9 mb-3 ml-auto">
                <input class="form-control" type="text" name="question" id="question">
              </div>
              <div class="col-md-3 mb-3">
                <button class="btn btn-primary btn-block" id="submit-button">Send</button>
              </div>
            </div>

    </form>
    </div>
    </div>
        </div> 
     </section> 


    <!-- Specialists -->
<section id="specialists">
  <div class="container text-center">
    <h1 class = "title" style="padding-top: 10%" > SPECIALISTS IN YOUR CITY</h1>
    <div class="row text-center">
      <div class="col-md-4 specialists">
        <img src="/static/Images/Doctor 3.jpeg" height="300" width="400" class="specialist-img">
        
        <h4 style="padding-top: 20px;">Dr. Jyoti Sinha</h4>
        <p>Breast Cancer Specialist<br>PL Clinic<br>(011) 2xxx-xxxx</p> 
      </div>
      <div class="col-md-4 specialists">
        <img src="/static/Images/Doctor 1.jpg" height="300" width="400" class="specialist-img">
        <h4 style="padding-top: 20px;">Dr. Rakesh Mehra</h4>
        <p>Lung Cancer Specialist<br>BKYC Hospital <br>(020) 3xxx-xxxx</p> 
      </div>
      <div class="col-md-4 specialists">
        <img src="/static/Images/Doctor 4.jpeg" height="300" width="400" class="specialist-img">
        <h4 style="padding-top: 20px;">Dr. Uma Kumar</h4>
        <p>Kidney Cancer Specialist<br>HSBC<br> (07582) 2xx-xxx</p> 
      </div>
      </div>
      <button type="button" class="btn btn-primary">More Options</button>
    </div>
</section>

<!-- Testimonials -->
<section id="testimonials">
  <div class="container text-center" style="padding: 7%;">
    <h1 class="title text-center">REVIEWS</h1>
      <div class="row offset-1">
        <div class="col-md-5 testimonials">
          <p>Founded the chatbot really helpful. It really has some amazing features!</p>
          <img src="/static/Images/user1.jpg" >
          <p class="user-details"><b>Anushree Chaturvedi</b><br>Co-founder at AmTech</p>
        </div>
        <div class="col-md-5 testimonials">
          <p>The bot was quite efficient. It saved me so many visits to the doctor. The collection of doctors in the specialists section of the website is also fantastic.</p>
          <img src="/static/Images/user2.jpg" >
          <p class="user-details"><b>Harpreet Singh</b><br>Vice-Chancellor at YourWay</p>
        </div>
      </div>
      <ul>
      <li><button type="button" class="btn btn-primary center" >Read More Reviews</button><br></li>
      <li><br><br><button type="button" class="btn btn-primary center">Write a Review</button></li>
      </ul>
  </div>

</section>

<!--Contribute-->
<section id="contribute">
<div class="container text-center" style="padding-top: 4%;">
  <h1 class="title text-center">CONTRIBUTE</h1>
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <div class="signup-form">
              <form action="" class="mt-5 border p-4 bg-light shadow">
                  <h5 class="mb-5 text-secondary">You can help contribute in the Research and Development Sector by answering a few questions. Your information is safe with us.</h5>
                  <div class="row">
                      <div class="mb-3 col-md-6">
                          <label>First Name</label>
                          <input type="text" name="fname" class="form-control" placeholder="Enter First Name">
                      </div>

                      <div class="mb-3 col-md-6 ">
                          <label>Last Name</label>
                          <input type="text" name="Lname" class="form-control" placeholder="Enter Last Name">
                      </div>
                      </div>
                      <div class="form-row">
                      <div class="mb-3 col-md-7 ">
                      <label type="email" class="form-label">Email Address</label>
                      <input type="email" class="form-control"id="email" placeholder="Enter your Email Address">
                      </label>
                      </div>

                    
                      <div class="form-group col-md-4">
                      
                        <label class="form-label" for="age">Age</label>
                        
                        <select class="form-control" id="age">
                          <option selected>Select</option>
                         <option value="0-10">1 - 10</option>
                         <option value="11-20">11 - 20</option>
                         <option value="21-30">21 - 30</option>
                         <option value="31-40">31 - 40</option>
                         <option value="41-50">41 - 50</option>
                         <option value="51-60">51 - 60</option>
                         <option value="61-70">61 - 70</option>
                         <option value="71-80">71 - 80</option>
                         <option value="81-90">81 - 90</option>
                        </select>
                        </div>

                      </div>



                     
                    <div class="form-group row">
                      <div class="col-md-12 mb-3 text-center ">
                      <label for="sex">Sex</label>
                      <br>
                      <div class="col-md-6 mb-3 form-check-inline">
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                              <label class="form-check-label" for="inlineRadio1">Male</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                              <label class="form-check-label" for="inlineRadio2">Female</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                              <label class="form-check-label" for="inlineRadio3">Other</label>
                          </div>
                          
                      </div>
                      </div>
                  
                    </div>

                    <div class="form-row">
                      <div class="col-md-6 mb-3">
                        <label for="type">Type of Cancer</label>
                        <input type="text" class="form-control" id="type" placeholder="Enter type of cancer" required>
                        <div class="invalid-tooltip">
                          Please provide a valid type.
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="stage">Stage of Cancer</label>
                        <input type="text" class="form-control" id="stage" placeholder="Enter stage of cancer" required>
                        <div class="invalid-tooltip">
                          Please provide a valid stage.
                        </div>
                      </div>

                      <div class="container">
                        <form action="/action_page.php">
                          <div class="form-group">
                            <label for="comment">Please enter the treatment you are taking </label>
                            <textarea class="form-control" rows="2" id="comment1" name="text"></textarea>
                          </div>
                    
                        </form>
                      </div>

                      <div class="container">
                        <form action="/action_page.php">
                          <div class="form-group">
                            <label for="comment">Please enter the problems that you are facing with your treatment</label>
                            <textarea class="form-control" rows="2" id="comment1" name="text"></textarea>
                          </div>
                    
                        </form>
                      </div>



                      <div class="col-md-12 center">
                         <button class="btn btn-primary float-end">Submit</button>
                      </div>

                  </div>
              </form>
              
          </div>
      </div>
  </div>
</div>
</section>

<!-- Social Media Section -->
<section id="social-media">
  <div class="container text-center">
    <p >FIND US ON SOCIAL MEDIA</p>
    <div class="social-icons">
      <a href="#"><img src="/static/Images/facebook-icon.png" ></a>
      <a href="#"><img src="/static/Images/instagram-icon.png" ></a>
      <a href="#"><img src="/static/Images/whatsapp-icon.png" ></a>
      <a href="#"><img src="/static/Images/twitter-icon.png" ></a>
      <a href="#"><img src="/static/Images/linkedin-icon.png" ></a>
      <a href="#"><img src="/static/Images/snapchat-icon.png" ></a>
    </div>
  </div>
</section>

<section id="footer">
  <img src="/static/Images/wave2.png" class="footer-img">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-box">
        <h4>Cancer Code</h4>
        <p>One Stop Solution for all your Cancer Problems</p>
      </div>
      <div class="col-md-4 footer-box">
        <p><b>CONTACT US</b></p>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i>Cancer Code, Jaipur</p>
        <p><i class="fa fa-phone" aria-hidden="true"></i>(+91)xxxxxxxxxx</p>
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i>cancercode@gmail.com</p>
      </div>
      <div class="col-md-4 footer-box">
        <p><b>SUBSCRIBE NEWSLETTER</b></p>
        <input type="email" class="form-control" placeholder="Your Email">
        <button type="button" class="btn btn-primary">Subscribe</button>
      </div>
    </div>
    <hr>
    <p class="copyright">Website Created by Girl Code</p>
  </div>

</section>

<!-- Smooth Scroll -->
<script src="/smooth-scroll.js"></script>
<script>
	var scroll = new SmoothScroll('a[href*="#"]');
</script>


 <script src="/static/jquery.min.js" ></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <script>


      jQuery(document).ready(function() {

        $("#submit-button").click(function(e) {
          e.preventDefault();


          $.ajax({
              type: "POST",
              url: "/chatbot",
              data: {
                  question: $("#question").val()
              },
              success: function(result) {
                $("#response").append("<br>User: "+$("#question").val()+ "<br> Bot: "+result.response);
                $("#question").val("")
              },
              error: function(result) {
                  alert('error');
              }
          });

        });

      });


    </script> 
   
  </body>
</html>
