<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review-Cancer Code</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.png">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section id="nav-path">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <div class="container-fluid">
            <a class="navbar-brand" href="#top" style="color:#fff ; font-weight: bold; font-size: 30px;">Cancer Code</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav  ml-auto">
                <li class="nav-item">
                  <a class="nav-link"  href="/templates/indexes.html#home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/templates/indexes.html#about us">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/templates/indexes.html#chatbot">Chat Bot</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/templates/indexes.html#specialists">Specialists</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/templates/indexes.html#testimonials">Reviews</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/templates/indexes.html#contribute">Contribute</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/templates/indexes.html#footer">Contact Us</a>
                </li>                         
              </ul>
          </div>
          </div>
        </nav>
      </section>

      <section id="contribute">
        <div class="container text-center" style="padding-top: 2%;" >
          <h1 class="title text-center">Write a Review</h1>
          <div class="row">
              <div class="col-md-6 offset-md-3" style="padding-bottom:1%;margin-top:-30px">
                  <div class="signup-form">
                      <form action="" class="mt-5 border p-4 bg-light shadow">
                          <h5 class="mb-5 text-secondary">We would like to know what you think! <br>If you can spare a few minutes to write a review, we'd be grateful!</h5>
                          <div class="row">
                            
                              <div class="mb-3 col-md-6">
                                <div class=" form-group">
                                  <label>First Name</label>
                                  <input type="text" name="fname" class="form-control" placeholder="Enter First Name">
                              </div>
                            </div>
        
                              <div class="mb-3 col-md-6 ">
                                <div class=" form-group">
                                  <label>Last Name</label>
                                  <input type="text" name="Lname" class="form-control" placeholder="Enter Last Name">
                              </div>
                              </div>
                              
                              </div>

                            <div class="container">
                            <div class="form-group">
                              <label>Rating:</label>
                              <div class="rating">
                              <button class="rating__star">☆</button>
                              <button class="rating__star">☆</button>
                              <button class="rating__star">☆</button>
                              <button class="rating__star">☆</button>
                              <button class="rating__star">☆</button>
                          </div>
                          </div>
                        </div>
                      


                            

        
                              <div class="container">
                                <form action="/action_page.php">
                                  <div class="form-group">
                                    <label for="comment">Write your review here!</label>
                                    <textarea class="form-control" rows="2" id="comment1" name="text"></textarea>
                                  </div>
                            
                                
                              </div>
        
        
        
                              <div class="col-md-12 center">
                                 <button class="btn btn-primary float-end">Submit</button>
                              </div>
        
                          </div>
                      </form>
                      
                  </div>
              </div>
          </div>
        </div>
        </section>
        
</body>
</html>